
h1{
    text-align: center;
}

.container{
    border-style: groove;
    border-width: 3px;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
    min-height: 10px;

}

.form_heading{
    border-style: groove;

}

.books_heading{
    border-style: groove;

}

.form{
    border-style: groove;

}

.books{
    background-color: rgb(244, 180, 249);
    border-style: groove;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-column: 2 / 3;
    gap: 20px;
    padding: repeat(15px);

}


.card{
    background-color: rgb(183, 217, 248);
    color: black;
    text-align: center;
    height: fit-content;
    /* display: grid; */
    
}


